.error{
	display: none;
	color: red;
}

#title {
	border-bottom: 2px solid black;
	margin-bottom: 15px;
}

#pagina {
border:5px solid black;
width: 900px;
}
#fecha {
	float: right;
	margin-top: -10px;
	margin-right: 17px
}
.rut {
margin-left: 161px;
margin-top: -41px;

}

.ciudad {
	margin-left: 161px;
	margin-top:-40px;
}

#cantidad {
	margin-left: 167px;
margin-top: -118px;
border-left: 1px solid black;
padding-left: 9px;

}

#descripcion {
	margin-left: 343px;
margin-top: -121px;
border-left: 1px solid black;
padding-left: 9px;

}

#valor{
margin-left: 521px;
margin-top: -111px;
border-left: 1px solid black;
padding-left: 9px;

}

#total {
	margin-left: 700px;
margin-top: -125px;
border-left: 1px solid black;
padding-left: 9px;

}